.progress{
    background-color: rgba(0, 0, 0, 0.25);
    cursor: default;
}
.profileImg{
    margin-top: 18.5vh;
    transform: translateX(17vw);
    position: fixed;
    z-index: 1;
}
.images{
    margin-left: 30vw;
    position: fixed;
    z-index: 1;
}