.homework{
    background-color: rgba(0, 0, 0, 0.25);
}
.profileImg{
    margin-top: 18.75vh;
    transform: translateX(17.25vw);
    position: fixed;
    z-index: 1;
}
.images{
    margin-left: 30vw;
    position: fixed;
    z-index: 1;
}
#img1, #img2{
    border-radius: 20px;
}
#img2{
    transform: translateX(0.5vw);
}
.b1, .b2{
    margin-right: 26vw;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 2vh 1vw;
    background-color: rgb(0, 150, 90);
    color: white;
    border-radius: 20px;
}
.b1:hover, .b2:hover{
    background-color: rgb(0, 200, 95);
    cursor: pointer;
    font-size: 2.025vh;
}
.b1{
    margin-left: 0vw;
    transform: translateX(4vw);
    position: fixed;
}
.b2{
    margin-top: 2vh;
    transform: translateX(28vw);
    position: fixed;
}
.b1:hover{
    transform: translateX(3.9vw);
}
.b2:hover{
    transform: translateX(27.9vw);
}