.settings{
    background-color: rgba(0, 0, 0, 0.25);
    cursor: default;
}
.profileImg{
    margin-top: 17.25vh;
    transform: translateX(16.75vw);
    position: fixed;
    z-index: 1;
}
.images{
    margin-left: 30vw;
    position: fixed;
    z-index: 1;
}